[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
youqu3 = "==0.1.4"
youqu-dogtail = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
